<h2>Update your event</h2>
<div class="form-container">
  <form class="form" action="/events/{{this.id}}/edit" method="post">
    <label for="name">Name:</label>
    <br />
    <input type="text" name="name" value="{{name}}" />
    <br />
    <label for="price">Price:</label>
    <br />
    <input type="number" name="price" value="{{price}}" />
    <br />
    <label for="location">Location:</label>
    <br />
    <input type="text" name="location" id="location" value="{{location}}" />
    <br />
    <label for="date">Date:</label>
    <br />
    <input type="date" name="date" id="date" />
    <br />
    <label for="slots">Slots:</label>
    <br />
    <input type="number" name="slots" id="slots" value="{{slots}}" />
    <br />
    <div class="profile-picture-container">
      <label for="image">Event image:</label>
      <div class="upload">
        <input type="file" name="image" />
      </div>
    </div>
    <br />
    <button>Update</button>
  </form>
</div>