<div>
  <h1>{{name}}</h1>
  <p><span>Price: {{price}}€</span> <span>Location: {{location}}</span> <span>Date: {{date}}</span> <span>Available slots: {{slots}}</span></p>
  <p>{{description}}</p>
  <p>Organiser: {{creator.username}}</p>

  <form action="/events/{{_id}}/fav" method="post">
  {{#unless isUserOrganiser}}
    <button>Fav</button>
  {{/unless}} 
  </form>
</div>