<div>
  <img src="{{singleEvent.image}}" alt="event image" height="250px">
  <h1>{{singleEvent.name}}</h1>
  <p><span>Price: {{singleEvent.price}}€</span> <span>Location: {{singleEvent.location}}</span> <span>Date: {{singleEvent.date}}</span> <span>Available slots: <span>{{usersGoing}}</span>/{{singleEvent.slots}}</span></p>
  <p>{{singleEvent.description}}</p>
  <p>Organiser: <a href="/profile/{{singleEvent.creator._id}}">{{singleEvent.creator.username}}</a></p>

{{!-- USER --}}
  {{#unless isUserOrganiser}}
  <form action="/events/{{singleEvent._id}}/fav" method="post">
    <button>Fav</button>
  </form>
  {{/unless}} 

  {{#unless isUserOrganiser}}
    {{#unless isFull}}
    <form action="/events/{{singleEvent._id}}/attend" method="post">
      <button>Attend</button>
    </form>
    {{/unless}}
    {{#if isFull}}
      <p>Event full</p>
    {{/if}}
  {{/unless}} 

{{!-- ORGANISER --}}
{{#if isUserOrganiser}}
<p>Attendants:</p>
<ul>
  {{#if isMyEvent}}
  {{#each attendingUsers}}
<form action="/events/{{../singleEvent._id}}/kick-user/{{this._id}}" method="post">
  <li>{{this.username}}</li>
<button>Delete user</button>
</form>
  {{/each}}
</ul>
{{/if}}
{{/if}}

</div>