<div>
  <img src="{{currentUser.image}}" alt="profile picture">
  <h1>{{currentUser.username}}</h1>
  <p>Email: {{currentUser.email}}</p>
  <p>Age: {{currentUser.age}}</p>
  <p>City: {{currentUser.city}}</p>
  <p>Bio: {{currentUser.bio}}</p>
  
  {{#unless isUserOrganiser}}
    <p>Attended events:
    <ul>
        {{#each attendedEvents.attendedEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        {{/each}}
    </ul>
    </p>
    <p>Favourite events:
    <ul>
        {{#each favEvents.favouriteEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        {{/each}}
    </ul>
    </p>
    {{/unless}}

    {{#if isUserOrganiser}}
    <p>Organised events:
    <ul>
        {{#each createdEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        <br>
        {{#if isMyEvent}}
        {{!-- EDIT EVENT --}}
        <form action="/events/{{this._id}}/edit">
            <button>Edit</button>
        </form>
        {{!-- DELETE EVENT --}}
        <form action="/events/{{this._id}}/delete" method="post">
            <button>Delete</button>
        </form>
        {{/if}}
        {{/each}}
    </ul>
    </p>
    {{/if}}

  <form action="/profile/my-profile/edit">
    <button>Edit</button>
  </form>
</div>