<div class="profile-container">
  <div class="img-container">
    <img src="{{currentUser.image}}" alt="profile picture" />
  </div>
  <div class="profile">
    <h1>{{currentUser.username}}</h1>
    <p><b>Email:</b> {{currentUser.email}}</p>
    <p><b>Age:</b> {{currentUser.age}}</p>
    <p><b>City:</b> {{currentUser.city}}</p>
    <p><b>Bio:</b> {{currentUser.bio}}</p>

    {{#unless isUserOrganiser}}
      <p><b>Attended events:</b>
        <ul>
          {{#each currentUser.attendedEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
      <p><b>Favourite events:</b>
        <ul>
          {{#each currentUser.favouriteEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
    {{/unless}}

    {{#if isUserOrganiser}}
      <p><b>Organised events:</b>
        <ul>
          {{#each createdEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
    {{/if}}

    <form action="/profile/my-profile/edit">
      <button>Edit Profile</button>
    </form>
  </div>
</div>