<div class="profile-container">
  <div class="img-container">
    <img src="{{foundUser.image}}" alt="profile picture" />
  </div>
  <div class="profile">
    <h1>{{foundUser.username}}</h1>

    <p><b>Age: </b>{{foundUser.age}}</p>

    <p><b>City: </b>{{foundUser.city}}</p>

    <p><b>Bio: </b>{{foundUser.bio}}</p>
    {{#unless isUserOrganiser}}
      <p>Attended events:
        <ul>
          {{#each foundUser.attendedEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
      <p>Favourite events:
        <ul>
          {{#each foundUser.favouriteEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
    {{/unless}}

    {{#if isUserOrganiser}}
      <p>Organised events:
        <ul>
          {{#each createdEvents}}
            <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </p>
    {{/if}}

    <h3>What do others think about this user?</h3>
    <form
      id="comments"
      action="/profile/user/{{foundUser._id}}/comment"
      method="post"
    >
      <textarea rows="5" cols="40" type="text" name="comment"></textarea>
      <button>Comment</button>
    </form>

    <ul>
      {{#each foundUser.comment}}
        <a
          href="/profile/user/{{this.poster._id}}/details"
        >{{this.poster.username}}</a>
        <li>{{comment}}</li>
      {{/each}}
    </ul>

  </div>
</div>