<div>

    <h1>{{foundUser.username}}</h1>

    {{#unless isUserOrganiser}}
    <p>Attended events: 
        <ul>
        {{#each attendedEvents.attendedEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        {{/each}}
        </ul>
    </p>
    <p>Favourite events: 
        <ul>
        {{#each favEvents.favouriteEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        {{/each}}
        </ul>
    </p>    
    {{/unless}}

    {{#if isUserOrganiser}}
    <p>Organised events: 
        <ul>
        {{#each createdEvents}}
        <li><a href="/events/{{this._id}}/details">{{this.name}}</a></li>
        <br>
        {{#if isMyEvent}}
        <form action="/events/{{this._id}}/delete" method="post">
        <button>Delete</button>
        </form>
        {{/if}}
        {{/each}}
        </ul>
    </p>

    {{/if}}








</div>